Flask
http://download.pytorch.org/whl/cpu/torch-2.3.1+cpu-cp312-cp312-manylinux1_x86_64.whl
http://download.pytorch.org/whl/cpu/torchvision-0.18.1+cpu-cp312-cp312-manylinux1_x86_64.whl
Pillow
opencv-python-headless
gunicorn
